* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    display: flex;
    flex-direction: column;

    align-items: center;
}

body {
    margin: 0;
    size: 0;
    font-family: "Bai Jamjuree", sans-serif
}

.header {
    background-image: url(../assets/bg-header-desktop.png);

}

.body__text--regular {
    font-weight: 400;
    size: 16px;

}


.contact {
    background-color: #979797;
}